@import "tailwindcss";

@font-face {
  font-family: 'Avant Garde Book BT';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/AVGARDD_2.woff') format('woff');
}

html {
  scroll-behavior: smooth;
}

html.lenis {
  height: auto;
  /* Lenis scroll container ke liye */
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
  /* native smooth behavior disable karo, Lenis hi scroll karegi */
}

.lenis.lenis-stopped {
  overflow: hidden;
  /* jab Lenis disable ho, overflow control karo */
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Avant Garde Book BT';
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #2c2c2c;
  /* Track color */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #b7ab98;
  /* Purple */
  border-radius: 10px;
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb5939;
}