@import "tailwindcss";

@font-face {
  font-family: 'Avant Garde Book BT';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/AVGARDD_2.woff') format('woff');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Avant Garde Book BT';
}